<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>主页|藤县中考会考报名数据管理系统</title>
    <link rel="icon" type="image/x-icon" th:href="@{~/src/images/icon.ico}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="shortcut icon" th:href="@{~/src/images/icon.ico}" type="image/x-icon">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="./index/css/index.css" th:href="@{~/index/css/index.css}" rel="styleSheet" />
</head>

<body>
    <ul id="slide-out" class="side-nav fixed">
        <li><img alt="logo" src="./src/images/logo.png" th:src="@{~/src/images/logo.png}" id="logo-container">
        </li>
        <li class="active"><a href="/index">首页</a></li>
        <li><a href="/transaction">交易</a></li>
        <li><a href="/history">查看交易历史</a></li>
        <li><a href="/password">修改密码</a></li>
        <li><a href="/logout">退出登录</a></li>
    </ul>
    <div class="main">
        <nav class="bg-primary" role="navigation">
            <div class="nav-wrapper">
                <div class="brand-logo">模拟ATM管理系统</div>
            </div>
        </nav>
        <div class="container">
            <div class="card-panel" id="name-card">
                <div th:text="${name}" id="welcome">欢迎您，</div>
            </div>
            <div id="card-container">
                <div class="card">
                    <div class="card-title">账户信息</div>
                    <span>姓名：</span><span th:text="${name}">fasd</span><div></div>
                    <span>余额：</span><span th:text="${money}">2000</span><span>元</span>
                </div>
                <div class="card">
                    <div class="card-title">账户操作</div>
                    <span>请选择所需操作的业务</span>
                    <div class="card-action">
                        <a href="/transaction">存款</a>
                        <a href="/transaction">取款</a>
                        <a href="/transaction">转账</a>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-title">交易历史</div>
                    <span>点击查看交易历史</span>
                    <div class="card-action">
                        <a href="/history">查看交易历史</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./index/js/index.js" th:src="@{~/index/js/index.js}"></script>
</body>

</html>